@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #2c2e48;
  --secondary-color: #59c174;
  --third-color: #fafafa;
  --sm-border-radius: 5px;
  --lg-border-radius: 10px;
  --border: 2px solid #59c174;
  --default-shadow: 0 2px 5px #3c3c3c;
}
* {
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
/*
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

/*STATICS RULES*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--third-color);
  font-size: 16px;
  background-size: cover;
  transition: background-position .2s ease-in-out;
}

/*HEADER*/
header {
  color: var(--third-color);
  background-color: var(--primary-color);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  justify-content: space-between;
  align-items: center;
  transition: height 0.5s ease-in;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: none;
  animation: slideIn 0.5s ease-in 1 normal forwards;
}
ul {
  display: flex;
  padding-inline-start: 0;
  gap: 25px;
  list-style: none;
}
.navItem {
  transition: scale 0.2s ease-in;
}
button {
  border: none;
  border-radius: var(--sm-border-radius);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px;
  font-size: 1.1rem;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header img {
  max-width: 100px;
}
.switcher {
  width: 50px;
  padding: 2px;
  border-radius: 25px;
  border: 2px solid var(--third-color);
  display: none;
  justify-content: start;
  align-items: center;
  animation: slideIn 0.5s ease-in 1 normal forwards;
}
.switchButton,
.switchButton2 {
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--third-color);
  transition: transform 0.3s ease-in;
}
.burger {
  width: 50px;
  height: fit-content;
  align-content: center;
  cursor: pointer;
  transition: scale 0.2s ease-in;
}
.burger div {
  width: 70%;
  height: 2px;
  background-color: var(--third-color);
  margin-left: auto;
}
#burgerLine2 {
  width: 50%;
  margin-block: 5px;
  transition: margin 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.dropdown {
  display: none;
  justify-content: space-between;
  align-items: end;
  margin-block-start: 10px;
  animation: slideIn 0.2s ease-in 1 normal forwards;
}
.dropdownMenu {
  display: flex;
  width: fit-content;
  margin-block-end: 0;
  justify-content: end;
}
.switcher2 {
  width: 50px;
  height: fit-content;
  padding: 2px;
  border-radius: 25px;
  border: 2px solid var(--third-color);
  display: flex;
  justify-content: start;
  align-items: center;
  animation: slideLeft 0.5s ease-in 1 normal forwards;
}

hr {
  background-color: var(--third-color);
  height: 2px;
  border: none;
  border-radius: 1px;
}

/*CONTAINER*/
.container {
  display: block;
  margin-inline: 10px;
  margin-block-start: 25px;
}
.welcome{
  padding: 15px;
}
#welcome-text{
  text-align: start;
  font-size: 1.5rem;
  color: var(--primary-color);
  line-height: 2rem;
}
#welcome-cta{
  display: flex;
  align-items: center;
  gap: 15px;
}
#my-name{
  color: var(--secondary-color);
}
.arrow-container{
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items:center;
  margin-inline-start: auto;
  transition: opacity .3s ease-in-out, scale .3s ease-in-out;
  animation: fadeIn 2s ease-in 3s infinite alternate both;
}
.arrow{
  width: 25%;
  aspect-ratio: 1/1;
  border-right: 3px solid var(--third-color);
  border-bottom: 3px solid var(--third-color);
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}
#welcome-visuals{
  display: flex;
  margin-block-start: 25px;
  justify-content: space-between;
}
#logo-icon{
  width: 35%;
  display: flex;
}
.mr-icon{
  max-width: 25%;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  animation: bounce 2s ease-in infinite alternate both;
}
#mr-icon1{
  animation: slideIn 2s ease-in infinite alternate both;
}
#mr-icon2{
  max-width: 31%;
  animation: fadeIn 2s ease-in infinite alternate-reverse both;
}
#mr-icon3{
  animation: slideLeft 2s ease-in infinite alternate both;
}
#welcome-img{
  width: 60%;
  margin-inline-start: auto;
}
#welcome-img img{
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: auto;
  background: linear-gradient(0, var(--third-color)20%, var(--secondary-color));
}


/*EVENTS RULES*/
.navItem:hover {
  cursor: pointer;
  scale: 1.1;
}
.switcher:hover {
  cursor: pointer;
}
.burger:hover #burgerLine2 {
  margin-right: 10px;
  background-color: var(--secondary-color);
}
button:hover {
  box-shadow: var(--default-shadow);
  background-color: var(--third-color);
}
.arrow-container:hover{
  scale: 1.1;
  cursor: pointer;
}
.arrow-container:hover .arrow{
  transform: rotate(-315deg);
}


/*STATES RULES*/

.navItemActive {
  border-bottom: 2px solid var(--secondary-color);
  scale: 1.1;
}

/*ANIMATIONS*/
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(45%);
    opacity: 0.1;
  }
  25% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50%{
    transform: translateY(45%);
    opacity: 0.7;
  }
  75%{
    transform: translateY(-45%);
    opacity: 1;
  }
  100%{
    transform: translateY(45%);
    opacity: 0;
  }
}

/*MEDIA QUERIES*/
@media screen and (min-width: 720px) {
  body {
    background-position: center;
    background-repeat: no-repeat;
  }
  nav {
    display: block;
  }
  .switcher {
    display: flex;
  }
  .burger {
    display: none;
  }
  .dropdown {
    display: none !important;
  }
  .container{
    margin-block-start: 50px;
  }
  .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #welcome-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  #welcome-cta{
    width: 82%;
  }
  .arrow-container{
  animation: fadeIn 2s ease-in 4 alternate backwards;
  }
  #welcome-visuals{
    width: 45%;
    margin-block-start: 0;
  }
  #logo-icon{
    display: none;
  }
  #welcome-img{
    margin-inline: auto;
    width: 50%;
  }
}
